{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>

        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=16) }}<br>

        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    <p>New User? <a href="#">Click to Register!</a></p>
{% endblock %}