{% extends "base.html" %}

{% block title %} Adventure's Tome {% endblock %}



{% block page_content %}


<div class="container">
    <div class="row">
        <div class="col">

    </div>
    <div class="col-6">
      <form method="POST">


              <div class="page-header">
              <h1>Hello, {% if name %}{{ name }}{% else %} Stranger{% endif %}</h1>
              {% if not known %}
              Please to meet you!
              {% else %}
              happy to meet you!
              {% endif %}
              </div>

          {{ form.hidden_tag() }}
          {{ form.name.label }}{{ form.name }}

          {{ form.submit }}
      </form>
    </div>
    <div class="col">

    </div>
  </div>

    </div>


</div>

  <!-- HTML code -->

{% endblock %}